<div class="container text-center d-flex align-items-center">
    <div class="container-sm d-flex align-items-center">
        <img src="./assets/svg/Escuto UdeC Negro.svg" alt="Escudo UdeC" class="img-fluid"
            style="width: 100px; height: auto;">
        <h1 class="ms-1 fs-4">SICHARLAS</h1>
    </div>
</div>


<!-- Barra de Navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">SICHARLAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="./index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="">Listado</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Charlas</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Programación</a></li>
            </ul>
        </div>
    </div>
</nav>